div {
  width: 100%;
  text-align: center;
  h1 {
    color: darkgreen;
    text-decoration: underline;
  }

  h3 {
    color: brown;
  }

}

nav {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;

      a {
        font-size: 1.25rem;
        font-weight: bold;
        text-decoration: none;
        color: inherit;

        &:hover {
          color: darkgreen;
          text-decoration: underline;
        }
      }

    }
  }
}
