<div>
  <h1>{{title}}</h1>
</div>

<nav>
  <ul>
    <li>
      <a routerLink="/demos/bindings">Bindings</a>
    </li>
    <li>
      <a routerLink="/demos/pipes">Pipes</a>
    </li>
    <li>
      <a routerLink="/demos/directives">Directives</a>
    </li>
    <li>
      <a routerLink="/demos/inout">Input - Output</a>
    </li>
    <li>
      <a routerLink="/demos/services">Services</a>
    </li>
    <li>
      <a routerLink="/demos/formulaires">Formulaires</a>
    </li>
    <li>
      <a routerLink="/demos/storage">Storage</a>
    </li>
    <li>
      <a routerLink="/demos/observable">Observable</a>
    </li>
    <li>
      <a routerLink="/demos/http">Http client</a>
    </li>
  </ul>
</nav>
